#hero {
  min-height: 100vh;
  background: #141e30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243b55, #141e30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  /* font-size: 140%; */
}

a {
  text-decoration: none;
}

.bgIbiza {
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.roundedCorners {
  border-radius: 1rem;
}

.square-img-container {
  position: relative;
}

.square-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.trackingPlus {
  letter-spacing: 0.3rem;
}

.activePage {
  color: #f1dd21;
  font-weight: 500;
  border-top: 2px solid #f1dd21;
  border-bottom: 2px solid #f1dd21;
  padding-top: 4px;
  padding-bottom: 4px;
}

.linkHover:hover {
  color: #f1dd21;
  transition: 300ms;
}
